@import "mixins.scss";

// colors
$dark-00:#0f0f1b;
$dark-01:#09080c;
$dark-02:#1a1a2f;
$dark-03: #101828;
$light-00:#fff;
$light-01:#c4c3c3;
$pink-00:#eea1e6;
$blue-00: #6edcf3;


:root {
    --header-height: 40px;
    --section-height: calc(100vh - var(--header-height));

    --margin-0: 12px;
    --margin-1: 24px;
    --margin-2: 48px;

    @include for-desktop{
        --header-height: 40px;
        --margin-0: 24px;
        --margin-1: 48px;
        --margin-2: 96px;
    }
}

h1::after, h2::after{
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    width: 100%;
    height: calc(100% - 4px);
    // mix-blend-mode: difference;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

h1::after{
    background: $pink-00;
}
h2::after{
    background: $blue-00;
}

h1::before, h2::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $dark-01;
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

h1::before,
h1::after{
    animation-delay: 1s;
}

h2::before,
h2::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}