@import "mixins.scss";

// colors
$dark-00:#0f0f1b;
$dark-01:#0d0d16;
$dark-02:#1a1a2f;
$dark-03: #101828;
$light-00:#fff;
$light-01:#c4c3c3;
$pink-00:#eea1e6;
$blue-00: #6edcf3;
// $blue-00: #73bbe6;
$grid-blue: #202740;


:root {
    --header-height: 40px;
    --section-height: calc(100vh - var(--header-height));

    --margin-0: 12px;
    --margin-1: 24px;
    --margin-2: 48px;

    @include for-desktop{
        --header-height: 40px;
        --margin-0: 24px;
        --margin-1: 48px;
        --margin-2: 96px;
    }
}


.animate-bg::after{
    content: '';
    position: absolute;
    top: 1px;
    right: 0;
    width: 100%;
    height: calc(100% - 3px);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

h1.animate-bg::after{
    background: $pink-00;
}
h2.animate-bg::after{
    background: $blue-00;
}

.animate-bg::before{
    content: '';
    position: absolute;
    top: 1px;
    right: 0;
    width: 100%;
    height: 100%;
    background: $dark-00;
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

h1.animate-bg::before,
h1.animate-bg::after{
    animation-delay: 1s;
}

h2.animate-bg::before,
h2.animate-bg::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}