@import "mixins.scss";
@import "variables.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: $dark-00;
    color: $light-00;
    scroll-behavior: smooth;
}

a {
    color: inherit;

    &:hover {
        color: $pink-00;
    }
}

h1 {
    font-size: 60px;
    margin: 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8em;
    color: #fff;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: var(--margin-0) 0;
}

h2 span {
    background-color: $blue-00;
    color: $dark-00;
    padding: 3px 8px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

h3 {
    font-family: "Rubik", monospace;
    font-size: 20px;
    font-weight: 300;
}

p {
    font-size: 18px;
    line-height: 1.3em;
    letter-spacing: 0.02em;
}

.logo-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;

    .source-code {
        font-family: "Source Code Pro", monospace;
        font-size: 1.06em;
        font-weight: 500;
    }

    background-color: $blue-00;
    background-image: linear-gradient(45deg, $pink-00, $blue-00);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba($color: $dark-00, $alpha: 0.5);
    backdrop-filter: blur(4px);
    height: var(--header-height);

    .logo {
        margin: 0 var(--margin-1);
    }

    nav {
        margin: 0 var(--margin-1);

        ul {
            padding: 0;
            display: flex;
            font-family: "Source Code Pro", monospace;
            font-weight: 400;
            font-size: 14px;

            li {
                display: inline-block;
                margin-left: 24px;

                a {
                    color: $light-00;
                    text-decoration: none;
                    display: block;
                }
            }
        }
    }
}

section {
    width: 100%;
    padding: var(--margin-1);
    max-width: 1440px;
    margin: 0 auto;

    &.hero {
        height: var(--section-height);
        display: flex;
        align-items: center;
        padding-left: 10%;
        padding-top: 0;
        height: 100vh;

        .hero-img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .title {
            // width: 70%;
            max-width: 500px;
        }

        .subtitle {
            margin: 0;
        }
    }
}

#what-we-do {
    p {
        color: $light-01;
        margin: var(--margin-1) auto;

        &.first, &.second {
            font-size: 20px;
            font-weight: 300;
            line-height: 1.2em;
            letter-spacing: 0.03em;
        }

        text {
            background-color: $blue-00;
            background-image: linear-gradient(45deg, $pink-00, $blue-00);
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }
}

#the-team {
    .content {
        .member {
            &:nth-child(2) {
                flex-direction: row-reverse;
            }

            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: var(--margin-1) auto;

            .photo {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                position: relative;
                height: 250px;
                min-width: 250px;
                margin-bottom: var(--margin-1);
                margin-left: 5vw;
                margin-right: 5vw;

                .name,
                .git,
                .mail,
                .last {
                    padding: 12px;
                    color: $dark-01;
                    width: 90%;
                    display: flex;
                    height: 32px;
                    align-items: center;

                    a {
                        height: 20px;
                        width: 20px;

                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
                }

                .name {
                    padding-right: 0;
                    background: #e2b1e4;
                }

                .git {
                    background: #e0c9ff;
                    transform: translateX(-5vw);
                }

                .mail {
                    background: #b7cbff;
                    justify-content: end;
                    transform: translateX(4vw);
                }

                .last {
                    background: #8fcbff;
                }

                .picture {
                    width: 225px;
                    position: absolute;
                    bottom: 0;
                    pointer-events: none;
                }
            }

            .profile {
                flex: 2;
                display: flex;
                flex-direction: column;
                min-width: 300px;
                align-items: center;

                p {
                    // padding: var(--margin-1);
                    flex: auto;
                    color: $light-01;
                    max-width: 600px;
                }
            }
        }
    }
}


footer {
    background-color: $dark-01;

    .content {
        width: 100%;
        padding: 0 var(--margin-1);
        padding-bottom: 40px;
        max-width: 1440px;
        margin: 0 auto;
    }
}