@import "mixins.scss";
@import "variables.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: "roc-grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: $dark-00;
    color: $light-00;
    scroll-behavior: smooth;
}

body {
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Chrome */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

    &.no-scroll {
        overflow: hidden;
    }

    display: table;
    background: radial-gradient(at 40% 40%, rgba(13, 20, 33, 0.5), rgba(10, 9, 15, 0.1)),
    radial-gradient(at 60% 60%, rgba(20, 33, 66, 0.8), rgba(0, 0, 0, 0));
}

a {
    color: inherit;

    &:hover {
        color: $pink-00;
    }
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

h1 {
    font-size: 55px;
    margin: 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8em;
    color: #fff;
    position: relative;
    overflow: hidden;
    display: inline-table;
    // margin: var(--margin-1) 0 var(--margin-0) 0;
    transform: translateX(1px);
}

h2 span {
    background-color: $blue-00;
    color: $dark-00;
    padding: 3px 8px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

h3 {
    font-size: 17px;
    font-family: "roc-grotesk-wide", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    font-family: "roc-grotesk", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    color: $light-01;
}

.logo-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;

    .source-code {
        font-family: "Source Code Pro", monospace;
        font-size: 1.06em;
        font-weight: 500;
    }

    background-color: $blue-00;
    background-image: linear-gradient(45deg, $pink-00, $blue-00);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-btn {
    position: relative;
    z-index: 101;
    margin: 8px var(--margin-1);
    height: var(--margin-1);
    width: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    color: $light-00;

    &:hover {
        .m-button {
            background: $pink-00;

            &:before,
            &:after {
                background: $pink-00;
            }
        }
    }

    .m-button {
        /* cross thickness */
        height: 1px;
        width: calc(100%);
        background: $light-00 ;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            /* cross thickness */
            height: 1px;
            width: calc(100%);
            background: $light-00 ;
        }

        &:before {
            transform: translateY(-8px);
        }

        &:after {
            transform: translateY(8px);
        }
    }

    &.isCross {
        .m-button {
            width: 0%;

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    @include horizontal-layout {
        display: none;
    }
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: $dark-00;
    z-index: 100;
    opacity: 1;
    overflow-y: auto;
    will-change: transform;
    transform: translateX(0%);
    transition: transform 0.4s cubic-bezier(0, 0, 0.1, 1);
    box-shadow: 1px 3px 8px 2px rgba(13, 13, 22, 0.3);

    &.hidden {
        transform: translateX(-101%);
        transition: transform 0.5s cubic-bezier(0, 0, 0.1, 1);
        will-change: transform;
    }

    &.isSwipingX {
        transition: none;
    }

    ul {
        margin: var(--header-height) 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        font-family: "Source Code Pro", monospace;
        font-weight: 400;
        font-size: 18px;
        will-change: opacity;

        li {
            display: inline-flex;
            align-items: center;
            padding: var(--margin-1);
            border-bottom:solid 1px $grid-blue;
            &:nth-child(1){
                border-top:solid 1px $grid-blue;
            }

            .icon{
                width: 20px;
                height: 20px;
                transform: rotate(45deg);
                margin-right: 28px;
            }

            a {
                color: $light-00;
                text-decoration: none;
                display: block;
            }
        }
    }

    @include horizontal-layout {
        position: relative;
        margin: 0 var(--margin-1);
        width: auto;
        height: auto;
        background-color: transparent;
        overflow-y: auto;
        transform: none;
        transition: none;
        box-shadow: none;

        &.hidden {
            transform: none;
            transition: none;
        }

        ul {
            margin: 0;
            font-size: 14px;
            flex-direction: row;

            li {
                display: inline-block;
                padding: 0;
                margin-left: var(--margin-1);
                border: none;

                .icon {
                    display: none;
                }

                a {
                    color: $light-00;
                    text-decoration: none;
                    display: block;
                }
            }
        }
    }
}

header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba($color: $dark-00, $alpha: 0.6);
    backdrop-filter: blur(5px);
    height: var(--header-height);

    .logo {
        font-size: 18px;
        margin: 0 var(--margin-1);
    }
}

section {
    width: 100%;
    padding: 40px var(--margin-1);
    max-width: 1440px;
    margin: 0 auto;

    &.hero {
        position: relative;
        z-index: 4;
        height: var(--section-height);
        display: flex;
        align-items: center;
        padding-left: var(--margin-1);
        padding-top: 0;
        height: 100vh;

        .title {
            max-width: 500px;
        }

        .subtitle {
            margin: 0;
        }
    }
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    
    &.planet {
        z-index: 3;
    }
}

#what-we-do {
    p {
        padding: var(--margin-1);

        text {
            background-color: $blue-00;
            background-image: linear-gradient(45deg, $pink-00, $blue-00);
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }
}

#the-team {
    .content {
        .member {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: var(--margin-1) auto;

            &:nth-child(1) {
                margin-bottom: var(--margin-2);
            }

            &:nth-child(2) {
                // flex-direction: row-reverse;
                margin-top: var(--margin-2);
                margin-bottom: 0;
            }

            .photo {
                // flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                position: relative;
                height: 250px;
                width: 100%;
                // min-width: 280px;
                margin-bottom: var(--margin-1);
                // margin-left: 5vw;
                // margin-right: 5vw;

                .name,
                .first,
                .second,
                .third {
                    padding: 12px;
                    color: $dark-01;
                    min-width: calc(100% - 32px);
                    display: flex;
                    height: 32px;
                    align-items: center;

                    a {
                        height: 20px;
                        width: 20px;

                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
                }

                .name {
                    background: #e2b1e4;
                    border-bottom: solid 1px;
                }

                .first {
                    background: #e0c9ff;
                    transform: translateX(-16px);
                }

                .second {
                    background: #b7cbff;
                    justify-content: end;
                    transform: translateX(16px);
                }

                .third {
                    background: #8fcbff;
                }

                .picture {
                    width: 225px;
                    position: absolute;
                    bottom: 0;
                    pointer-events: none;

                    &.shadow {
                        transform: translateX(-10px);
                        mix-blend-mode: overlay;
                        opacity: 0.6;
                    }
                }
            }

            .profile {
                flex: 2;
                display: flex;
                flex-direction: column;
                min-width: 300px;
                align-items: center;

                .socials {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    border-top: solid 1px $grid-blue;
                    border-bottom: solid 1px $grid-blue;

                    a {
                        flex: auto;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-right: solid 1px $grid-blue;

                        svg{
                            height: 24px;
                        }
                        &:hover{
                            background-color: $pink-00;
                            svg{
                                fill: $dark-00;
                            }
                        }
                    }

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                p {
                    flex: auto;
                    padding: var(--margin-1);
                }
            }

            @include horizontal-layout{
                flex-direction: row;
                border-top: solid 1px $grid-blue;
                border-bottom: solid 1px $grid-blue;
                &:nth-child(1){
                    margin-bottom: var(--margin-1);
                }
                &:nth-child(2){
                    margin-top: var(--margin-1);
                    flex-direction: row-reverse;
                    .profile{
                        flex-direction: row-reverse;
                    }
                }
                .photo{
                    flex: 1;
                    margin: 0;
                }

                .profile{
                    flex-direction: row;
                    min-height: 250px;

                    .socials{
                        flex-direction: column;
                        min-height: 250px;
                        align-items: center;
                        border: 0;
                        align-self: stretch;
                        a{
                            border-right: solid 1px $grid-blue;
                            border-left: solid 1px $grid-blue;
                            border-bottom: solid 1px $grid-blue;
                            width: calc(250px / 3);
                            &:last-child{
                                border-bottom: none;
                            }
                        }
                    }

                    p{
                        padding: var(--margin-0) var(--margin-1);
                    }
                }
            }
        }
    }
}

#our-libraries {
    .title-wrapper {
        display: flex;
        align-items: center;
        border-bottom: solid 1px $grid-blue;
        justify-content: space-between;

        h3 {
            padding: 0 var(--margin-1);
        }

        .arrow-icon {
            border-left: solid 1px $grid-blue;
            padding: 16px;
            display: flex;

            &:hover{
                background-color: $pink-00;
                svg{
                    fill: $dark-00;
                }
            }
        }

    }

    p {
        padding: var(--margin-1);
        border-bottom: solid 1px $grid-blue;
    }
}


footer {
    background-color: $dark-01;

    .content {
        width: 100%;
        padding: 48px var(--margin-1);
        max-width: 1440px;
        margin: 0 auto;

        ul{
            display: flex;
            flex-direction: column;
            padding: var(--margin-0) 0;
            li{
                display: block;
                margin: 4px 0;
                span{
                    font-weight: 500;
                }
            }
        }
    }
}

.line {
    z-index: 2;
    background: $grid-blue;
    will-change: transform;
    pointer-events: none;
    position: fixed;

    &.line-h {
        width: 100%;
        height: 1px;
        left: 0;
        position: absolute;
    }

    &.line-v {
        height: 100%;
        width: 1px;
        top: 0;

        &.left{
            left: var(--margin-1);
        }
        &.right{
            right: var(--margin-1);
        }
    }
}