:root {
  --header-height: 40px;
  --section-height: calc(100vh - var(--header-height));
  --margin-0: 12px;
  --margin-1: 24px;
  --margin-2: 48px;
}
@media (min-width: 900px) {
  :root {
    --header-height: 40px;
    --margin-0: 24px;
    --margin-1: 48px;
    --margin-2: 96px;
  }
}

h1::after, h2::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 100%;
  height: calc(100% - 4px);
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

h1::after {
  background: #eea1e6;
}

h2::after {
  background: #6edcf3;
}

h1::before, h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

h1::before,
h1::after {
  animation-delay: 1s;
}

h2::before,
h2::after {
  animation-delay: 1.5s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}
@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #0f0f1b;
  color: #fff;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}
a:hover {
  color: #eea1e6;
}

h1 {
  font-size: 60px;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8em;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: var(--margin-0) 0;
}

h2 span {
  background-color: #6edcf3;
  color: #0f0f1b;
  padding: 3px 8px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

h3 {
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  font-weight: 100;
}

.logo-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: #6edcf3;
  background-image: linear-gradient(45deg, #eea1e6, #6edcf3);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo-text .source-code {
  font-family: "Source Code Pro", monospace;
  font-size: 1.06em;
  font-weight: 500;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(15, 15, 27, 0.5);
  backdrop-filter: blur(4px);
  height: var(--header-height);
}
header .logo {
  margin: 0 var(--margin-1);
}
header nav {
  margin: 0 var(--margin-1);
}
header nav ul {
  padding: 0;
  display: flex;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 14px;
}
header nav ul li {
  display: inline-block;
  margin-left: 24px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

section {
  width: 100%;
  padding: var(--margin-1);
  max-width: 1440px;
  margin: 0 auto;
}
section.hero {
  height: var(--section-height);
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-top: 0;
  height: 100vh;
}
section.hero .hero-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
section.hero .title {
  max-width: 500px;
}
section.hero .subtitle {
  margin: 0;
}

#what-we-do p {
  font-size: 20px;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  color: #c4c3c3;
  margin: var(--margin-1) auto;
}
#what-we-do p.first {
  font-weight: 200;
}
#what-we-do p.second {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.03em;
}
#what-we-do p text {
  background-color: #6edcf3;
  background-image: linear-gradient(45deg, #eea1e6, #6edcf3);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#the-team .content .member {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: var(--margin-1) auto;
}
#the-team .content .member:nth-child(1) {
  flex-direction: row-reverse;
}
#the-team .content .member .photo {
  border: solid 1px #1a1a2f;
  flex: 1;
  padding: var(--margin-0);
  display: flex;
  justify-content: center;
  align-items: center;
}
#the-team .content .member .photo img {
  max-width: 100%;
  min-width: 300px;
}
#the-team .content .member .profile {
  flex: 2;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
#the-team .content .member .profile .name {
  padding: var(--margin-0) var(--margin-1);
  margin: 0;
  border: solid 1px #1a1a2f;
  background: linear-gradient(90deg, #1a1a2f, #101828);
  color: #6edcf3;
}
#the-team .content .member .profile p {
  border: solid 1px #1a1a2f;
  padding: var(--margin-1);
  flex: auto;
}

footer {
  background-color: #09080c;
}
footer .content {
  width: 100%;
  padding: 0 var(--margin-1);
  padding-bottom: 40px;
  max-width: 1440px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
