:root {
  --header-height: 40px;
  --section-height: calc(100vh - var(--header-height));
  --margin-0: 12px;
  --margin-1: 24px;
  --margin-2: 48px;
}
@media (min-width: 900px) {
  :root {
    --header-height: 40px;
    --margin-0: 24px;
    --margin-1: 48px;
    --margin-2: 96px;
  }
}

h1::after, h2::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 100%;
  height: calc(100% - 4px);
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

h1::after {
  background: #eea1e6;
}

h2::after {
  background: #6edcf3;
}

h1::before, h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #09080c;
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

h1::before,
h1::after {
  animation-delay: 1s;
}

h2::before,
h2::after {
  animation-delay: 1.5s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}
@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #0f0f1b;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
body.no-scroll {
  overflow: hidden;
}

a {
  color: inherit;
}
a:hover {
  color: #eea1e6;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

h1 {
  font-size: 60px;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8em;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: var(--margin-0) 0;
}

h2 span {
  background-color: #6edcf3;
  color: #0f0f1b;
  padding: 3px 8px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

h3 {
  font-family: "Rubik", monospace;
  font-size: 20px;
  font-weight: 300;
}

p {
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.02em;
}

.logo-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: #6edcf3;
  background-image: linear-gradient(45deg, #eea1e6, #6edcf3);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo-text .source-code {
  font-family: "Source Code Pro", monospace;
  font-size: 1.06em;
  font-weight: 500;
}

.menu-btn {
  position: relative;
  z-index: 7;
  margin: 8px 20px;
  height: 20px;
  width: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  color: #fff;
}
.menu-btn:hover .m-button {
  background: #eea1e6;
}
.menu-btn:hover .m-button:before, .menu-btn:hover .m-button:after {
  background: #eea1e6;
}
.menu-btn .m-button {
  /* cross thickness */
  height: 1px;
  width: 100%;
  background: #fff;
}
.menu-btn .m-button:before, .menu-btn .m-button:after {
  content: "";
  position: absolute;
  left: 0;
  /* cross thickness */
  height: 1px;
  width: 100%;
  background: #fff;
}
.menu-btn .m-button:before {
  transform: translateY(-8px);
}
.menu-btn .m-button:after {
  transform: translateY(8px);
}
.menu-btn.isCross .m-button {
  width: 0%;
}
.menu-btn.isCross .m-button:before {
  transform: rotate(45deg);
}
.menu-btn.isCross .m-button:after {
  transform: rotate(-45deg);
}
@media (orientation: landscape) {
  .menu-btn {
    display: none;
  }
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #09080c;
  z-index: 6;
  opacity: 1;
  overflow-y: auto;
  will-change: transform;
  transform: translateX(0%);
  transition: transform 0.4s cubic-bezier(0, 0, 0.1, 1);
  box-shadow: 1px 3px 8px 2px rgba(0, 0, 20, 0.4);
}
.menu.hidden {
  transform: translateX(-101%);
  transition: transform 0.5s cubic-bezier(0, 0, 0.1, 1);
  will-change: transform;
}
.menu.isSwipingX {
  transition: none;
}
.menu ul {
  margin: var(--margin-2) 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 18px;
}
.menu ul li {
  display: inline-flex;
  align-items: center;
  margin: var(--margin-0) var(--margin-1);
}
.menu ul li::before {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
  margin-right: 20px;
  background-color: #eea1e6;
}
.menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}
@media (orientation: landscape) {
  .menu {
    position: relative;
    margin: 0 var(--margin-1);
    width: auto;
    height: auto;
    background-color: transparent;
    overflow-y: auto;
    transform: none;
    transition: none;
    box-shadow: none;
  }
  .menu.hidden {
    transform: none;
    transition: none;
  }
  .menu ul {
    margin: 0;
    font-size: 14px;
    flex-direction: row;
  }
  .menu ul li {
    display: inline-block;
    margin: 0;
    margin-left: var(--margin-1);
  }
  .menu ul li::before {
    display: none;
  }
  .menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(15, 15, 27, 0.5);
  backdrop-filter: blur(4px);
  height: var(--header-height);
}
header .logo {
  margin: 0 var(--margin-1);
}

section {
  width: 100%;
  padding: var(--margin-1);
  max-width: 1440px;
  margin: 0 auto;
}
section.hero {
  height: var(--section-height);
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-top: 0;
  height: 100vh;
}
section.hero .hero-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
section.hero .title {
  max-width: 500px;
}
section.hero .subtitle {
  margin: 0;
}

#what-we-do p {
  color: #c4c3c3;
  margin: var(--margin-1) auto;
}
#what-we-do p.first, #what-we-do p.second {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.03em;
}
#what-we-do p text {
  background-color: #6edcf3;
  background-image: linear-gradient(45deg, #eea1e6, #6edcf3);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#the-team .content .member {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: var(--margin-1) auto;
}
#the-team .content .member:nth-child(2) {
  flex-direction: row-reverse;
}
#the-team .content .member .photo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 250px;
  min-width: 250px;
  margin-bottom: var(--margin-1);
  margin-left: 5vw;
  margin-right: 5vw;
}
#the-team .content .member .photo .name,
#the-team .content .member .photo .git,
#the-team .content .member .photo .mail,
#the-team .content .member .photo .last {
  padding: 12px;
  color: #09080c;
  width: 90%;
  display: flex;
  height: 32px;
  align-items: center;
}
#the-team .content .member .photo .name a,
#the-team .content .member .photo .git a,
#the-team .content .member .photo .mail a,
#the-team .content .member .photo .last a {
  height: 20px;
  width: 20px;
}
#the-team .content .member .photo .name a img,
#the-team .content .member .photo .git a img,
#the-team .content .member .photo .mail a img,
#the-team .content .member .photo .last a img {
  height: 100%;
  width: auto;
}
#the-team .content .member .photo .name {
  padding-right: 0;
  background: #e2b1e4;
}
#the-team .content .member .photo .git {
  background: #e0c9ff;
  transform: translateX(-5vw);
}
#the-team .content .member .photo .mail {
  background: #b7cbff;
  justify-content: end;
  transform: translateX(4vw);
}
#the-team .content .member .photo .last {
  background: #8fcbff;
}
#the-team .content .member .photo .picture {
  width: 225px;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
#the-team .content .member .profile {
  flex: 2;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
}
#the-team .content .member .profile p {
  flex: auto;
  color: #c4c3c3;
  max-width: 600px;
}

footer {
  background-color: #09080c;
}
footer .content {
  width: 100%;
  padding: 0 var(--margin-1);
  padding-bottom: 40px;
  max-width: 1440px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
