:root {
  --header-height: 40px;
  --section-height: calc(100vh - var(--header-height));
  --margin-0: 12px;
  --margin-1: 24px;
  --margin-2: 48px;
}
@media (min-width: 900px) {
  :root {
    --header-height: 40px;
    --margin-0: 24px;
    --margin-1: 48px;
    --margin-2: 96px;
  }
}

.highlight.animate::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 100%;
  height: calc(100% - 3px);
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
  will-change: transform;
}

h1.animate::after {
  background: #eea1e6;
}

h2.animate::after {
  background: #6edcf3;
}

.highlight.animate::before, .highlight.scroll-animate::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 100%;
  height: 100%;
  background: #0f0f1b;
  transform: translateX(0);
  will-change: transform;
}

.highlight.animate::before {
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

h1.highlight.animate::before,
h1.highlight.animate::after {
  animation-delay: 0s;
}

h2.highlight.animate::before,
h2.highlight.animate::after {
  animation-delay: 0.2s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}
@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "roc-grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #0f0f1b;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  display: table;
  background: radial-gradient(at 40% 40%, rgba(13, 20, 33, 0.5), rgba(10, 9, 15, 0.1)), radial-gradient(at 60% 60%, rgba(20, 33, 66, 0.8), rgba(0, 0, 0, 0));
}
body.no-scroll {
  overflow: hidden;
}
body.loaded .hero-img {
  opacity: 1;
  transition: opacity 1s linear 0.3s;
}

a {
  color: inherit;
}
a:hover {
  color: #eea1e6;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

h1 {
  font-size: 50px;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
  line-height: 1em;
  margin-bottom: 8px;
}

h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8em;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: inline-table;
  transform: translateX(1px);
}

h2 span {
  background-color: #6edcf3;
  color: #0f0f1b;
  padding: 3px 8px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

h3 {
  font-size: 17px;
  font-family: "roc-grotesk-wide", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "roc-grotesk", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  color: #c4c3c3;
}

.logo-text {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background-color: #6edcf3;
  background-image: linear-gradient(45deg, #eea1e6, #6edcf3);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo-text .source-code {
  font-family: "Source Code Pro", monospace;
  font-size: 1.06em;
  font-weight: 300;
}

.menu-btn {
  position: relative;
  z-index: 101;
  margin: 8px var(--margin-1);
  height: var(--margin-1);
  width: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  color: #fff;
}
.menu-btn:hover .m-button {
  background: #eea1e6;
}
.menu-btn:hover .m-button:before, .menu-btn:hover .m-button:after {
  background: #eea1e6;
}
.menu-btn .m-button {
  /* cross thickness */
  height: 1px;
  width: 100%;
  background: #fff;
}
.menu-btn .m-button:before, .menu-btn .m-button:after {
  content: "";
  position: absolute;
  left: 0;
  /* cross thickness */
  height: 1px;
  width: 100%;
  background: #fff;
}
.menu-btn .m-button:before {
  transform: translateY(-8px);
}
.menu-btn .m-button:after {
  transform: translateY(8px);
}
.menu-btn.isCross .m-button {
  width: 0%;
}
.menu-btn.isCross .m-button:before {
  transform: rotate(45deg);
}
.menu-btn.isCross .m-button:after {
  transform: rotate(-45deg);
}
@media (orientation: landscape) {
  .menu-btn {
    display: none;
  }
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #0f0f1b;
  z-index: 100;
  opacity: 1;
  overflow-y: auto;
  will-change: transform;
  transform: translateX(0%);
  transition: transform 0.4s cubic-bezier(0, 0, 0.1, 1);
  box-shadow: 1px 3px 8px 2px rgba(13, 13, 22, 0.3);
}
.menu.hidden {
  transform: translateX(-101%);
  transition: transform 0.5s cubic-bezier(0, 0, 0.1, 1);
  will-change: transform;
}
.menu.isSwipingX {
  transition: none;
}
.menu ul {
  margin: var(--header-height) 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 18px;
  will-change: opacity;
}
.menu ul li {
  display: inline-flex;
  align-items: center;
  padding: var(--margin-1);
  border-bottom: solid 1px #202740;
}
.menu ul li:nth-child(1) {
  border-top: solid 1px #202740;
}
.menu ul li .icon {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  margin-right: 28px;
}
.menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}
@media (orientation: landscape) {
  .menu {
    position: relative;
    margin: 0 var(--margin-1);
    width: auto;
    height: auto;
    background-color: transparent;
    overflow-y: auto;
    transform: none;
    transition: none;
    box-shadow: none;
  }
  .menu .line-v {
    display: none;
  }
  .menu.hidden {
    transform: none;
    transition: none;
  }
  .menu ul {
    margin: 0;
    font-size: 14px;
    flex-direction: row;
  }
  .menu ul li {
    display: inline-block;
    padding: 0;
    margin-left: var(--margin-1);
    border: none;
  }
  .menu ul li:nth-child(1) {
    border: none;
  }
  .menu ul li .icon {
    display: none;
  }
  .menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  .menu ul li a:hover {
    color: #eea1e6;
  }
}

header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(15, 15, 27, 0.6);
  backdrop-filter: blur(5px);
  height: var(--header-height);
}
header .logo {
  font-size: 18px;
  margin: 0 var(--margin-1);
  display: flex;
  align-items: center;
}
header .logo img {
  padding-right: 8px;
  height: 20px;
}

section {
  width: 100%;
  padding: 40px var(--margin-1);
  max-width: 1440px;
  margin: 0 auto;
}
section.hero {
  position: relative;
  z-index: 4;
  height: var(--section-height);
  display: flex;
  align-items: center;
  padding-left: var(--margin-1);
  padding-top: 0;
  height: 100vh;
}
section.hero .title {
  max-width: 500px;
}
section.hero .subtitle {
  margin: 0;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  will-change: opacity;
  opacity: 0;
}
.hero-img.planet {
  z-index: 3;
}

#what-we-do p {
  padding: var(--margin-1);
}
#what-we-do p text {
  background-color: #6edcf3;
  background-image: linear-gradient(45deg, #eea1e6, #6edcf3);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#the-team .content .member {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: var(--margin-1) auto;
}
#the-team .content .member:nth-child(1) {
  margin-bottom: var(--margin-2);
}
#the-team .content .member:nth-child(2) {
  margin-top: var(--margin-2);
  margin-bottom: 0;
}
#the-team .content .member .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 250px;
  width: 100%;
  margin-bottom: var(--margin-1);
}
#the-team .content .member .photo.scroll-animate .strip {
  will-change: transform;
  transform: scaleX(0.8);
}
#the-team .content .member .photo.scroll-animate.animate .strip {
  transform: scaleX(1);
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
}
#the-team .content .member .photo.scroll-animate.animate .strip:nth-child(2) {
  transform: scaleX(1) translateX(-16px);
}
#the-team .content .member .photo.scroll-animate.animate .strip:nth-child(3) {
  transform: scaleX(1) translateX(16px);
}
#the-team .content .member .photo .strip {
  padding: 12px;
  color: #0d0d16;
  min-width: calc(100% - 32px);
  display: flex;
  height: 32px;
  align-items: center;
}
#the-team .content .member .photo .strip.scroll-translate {
  transform: translateX(0px);
}
#the-team .content .member .photo .strip:nth-child(1) {
  background: #e2b1e4;
}
#the-team .content .member .photo .strip:nth-child(2) {
  background: #e0c9ff;
}
#the-team .content .member .photo .strip:nth-child(2).scroll-animate {
  will-change: transform;
  transform: translateX(0);
}
#the-team .content .member .photo .strip:nth-child(2).scroll-animate.animate {
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
  transform: translateX(-16px);
}
#the-team .content .member .photo .strip:nth-child(3) {
  background: #b7cbff;
  justify-content: end;
}
#the-team .content .member .photo .strip:nth-child(3).scroll-animate {
  will-change: transform;
  transform: translateX(0);
}
#the-team .content .member .photo .strip:nth-child(3).scroll-animate.animate {
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
  transform: translateX(16px);
}
#the-team .content .member .photo .strip:nth-child(4) {
  background: #8fcbff;
}
#the-team .content .member .photo .picture {
  width: 225px;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
#the-team .content .member .photo .picture.shadow {
  transform: translateX(-10px);
  mix-blend-mode: overlay;
  opacity: 0.6;
}
#the-team .content .member .profile {
  flex: 2;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
}
#the-team .content .member .profile .socials {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: solid 1px #202740;
  border-bottom: solid 1px #202740;
}
#the-team .content .member .profile .socials a {
  flex: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px #202740;
}
#the-team .content .member .profile .socials a svg {
  height: 24px;
}
#the-team .content .member .profile .socials a:hover {
  background-color: #eea1e6;
}
#the-team .content .member .profile .socials a:hover svg {
  fill: #0f0f1b;
}
#the-team .content .member .profile .socials img {
  width: 25px;
  height: 25px;
}
#the-team .content .member .profile p {
  flex: auto;
  padding: var(--margin-1);
}
@media (orientation: landscape) {
  #the-team .content .member {
    flex-direction: row;
    border-top: solid 1px #202740;
    border-bottom: solid 1px #202740;
  }
  #the-team .content .member:nth-child(1) {
    margin-bottom: var(--margin-1);
  }
  #the-team .content .member:nth-child(2) {
    margin-top: var(--margin-1);
    flex-direction: row-reverse;
  }
  #the-team .content .member:nth-child(2) .profile {
    flex-direction: row-reverse;
  }
  #the-team .content .member .photo {
    flex: 1;
    margin: 0;
  }
  #the-team .content .member .profile {
    flex-direction: row;
    min-height: 250px;
  }
  #the-team .content .member .profile .socials {
    flex-direction: column;
    min-height: 250px;
    align-items: center;
    border: 0;
    align-self: stretch;
  }
  #the-team .content .member .profile .socials a {
    border-right: solid 1px #202740;
    border-left: solid 1px #202740;
    border-bottom: solid 1px #202740;
    width: 83.3333333333px;
  }
  #the-team .content .member .profile .socials a:last-child {
    border-bottom: none;
  }
  #the-team .content .member .profile p {
    padding: var(--margin-0) var(--margin-1);
  }
}

#our-libraries .title-wrapper {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #202740;
  justify-content: space-between;
}
#our-libraries .title-wrapper h3 {
  padding: 0 var(--margin-1);
}
#our-libraries .title-wrapper .arrow-icon {
  border-left: solid 1px #202740;
  padding: 16px;
  display: flex;
}
#our-libraries .title-wrapper .arrow-icon:hover {
  background-color: #eea1e6;
}
#our-libraries .title-wrapper .arrow-icon:hover svg {
  fill: #0f0f1b;
}
#our-libraries p {
  padding: var(--margin-1);
  border-bottom: solid 1px #202740;
}

footer {
  background-color: #0d0d16;
}
footer .content {
  width: 100%;
  padding: 48px var(--margin-1);
  max-width: 1440px;
  margin: 0 auto;
}
footer .content ul {
  display: flex;
  flex-direction: column;
  padding: var(--margin-0) 0;
}
footer .content ul li {
  display: block;
  margin: 4px 0;
}
footer .content ul li span {
  font-weight: 500;
}

.line {
  z-index: 2;
  background: #202740;
  will-change: transform;
  pointer-events: none;
  position: fixed;
}
.line.line-h {
  width: 100%;
  height: 1px;
  left: 0;
  position: absolute;
}
.line.line-v {
  height: 100%;
  width: 1px;
  top: 0;
}
.line.line-v.left {
  left: var(--margin-1);
}
.line.line-v.right {
  right: var(--margin-1);
}

/*# sourceMappingURL=style.css.map */
